body {
  background-color: #aa3333;
}

div#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 0.7em;
  background-color: #e6e6e6;
}

div#newItemForm {
  padding-bottom: 0.7em;
}

#newItemForm input {
  width: 75%;
  margin-right: 15px;
}


#todoList > ul {
  margin: 0;
  padding: 0;
}

#todoList > ul > li {
  padding: 0.7em;
  border-top: 1px solid #333;
  list-style-type: none;
}

#todoList li input {
  margin-right: 0.4em;
}

.completed {
  text-decoration: line-through;
}
