<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="party.afraidto.TodoItemMapper">
    <select id="getItems" resultType="TodoItem">
        SELECT id, text, isCompleted FROM todo
    </select>
    <select id="getItemById" resultType="TodoItem">
        SELECT id, text, isCompleted FROM todo WHERE id = #{id}
    </select>

    <insert id="insertItem" parameterType="TodoItem" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into todo (text, isCompleted)
        values (#{text}, #{isCompleted})
    </insert>
</mapper>
